@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>DbError</title>
</head>
<body>
    <div class="page">
        <h2>The "NHibernateDemo" database is not exist. Please create it and try again.</h2>   
    </div>
</body>
</html>
